{
	admin 0.0.0.0:2019

    # Enable FrankenPHP
	frankenphp {
        num_threads 2
    }
}

localhost {
    root * /php-apps
    file_server browse
}

php-site.local {
    reverse_proxy http://127.0.0.1:8000
}

example-app.local {
	root example-app/public/
	encode zstd br gzip
	php_server {
		try_files {path} index.php
	}
}

static-site.local {
    root * /php-apps
    file_server browse
}

webapp-3001.local {
    reverse_proxy "host.docker.internal:3001"
}

webapp-3002.local {
    reverse_proxy host.docker.internal:3002
}

webapp-3003.local {
    reverse_proxy host.docker.internal:3003
}
